<!doctype html>
<html>
  <head>
    <title>Todo List</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h2>Todo Tasks</h2>

    <a href="/add/">Add new task</a>
    <br /><br />

    <ul>
      {% for task in tasks %}
      <li>
        {% if task.completed %}
        <strike>{{ task.title }}</strike>
        {% else %} {{ task.title }} {% endif %}

        <br />
        <small>{{ task.description }}</small>
        <br />

        <a href="/complete/{{ task.id }}/">complete</a>
        <a href="/edit/{{ task.id }}/">edit</a>
        <a href="/delete/{{ task.id }}/">delete</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
